In [1]:
import pandas as pd

In [2]:
BackCheck = pd.read_csv("/Users/rtv-lpt-129/Downloads/Day13upload.csv", encoding='ISO-8859-1', low_memory=False)

In [3]:
Status = BackCheck[(BackCheck['status'] == 1) | (BackCheck['status'] == 7)].copy()

In [4]:
Consent1 = Status[Status['consent_1'] == 1].copy()

In [5]:
Contact1 = Consent1[Consent1['contact_no'] != -99].copy()

In [6]:
UploadList2 = Contact1[['sid_2', 'pre_district', 'pre_cluster', 'pre_village', 'pre_name', 'spouse_fullname', 'contact_no', 'alt_contact']]

In [7]:
UploadList2.head()

,sid_2,pre_district,pre_cluster,pre_village,pre_name,spouse_fullname,contact_no,alt_contact
0,MBO-GE60837,Rubirizi,Kikumbo,Ntunga_A,Getrinda Biribikeba,NaN,778349381.0,NaN
1,MBO-MA62866,Rubirizi,Kikumbo,Ntunga_A,Mantilda Koburunga,NaN,761675431.0,NaN
4,RBU-OW91478,Rubanda,Igomanda,Rwarujongo,Owen Niwagaba,Tumushabe Roy,709977526.0,704254809.0
5,SWMT-MU6512,Kanungu,Bushura,Mugongo,Mubangizi Ezera,Christine Nuwamanya,771839077.0,NaN
6,RBU-FR37137,Rubanda,Igomanda,Rwarujongo,fred Byomunbande,Tumuramye Moreen,743325661.0,NaN

In [8]:
UploadList2.to_excel('Day13.xlsx', index = False)